<% @podcasts.each do |podcast| %>
  <p><%= podcast.title %>:   (<%= podcast.link %>)
    <button type="button" class="btn btn-default">
      <%= link_to "Update", edit_user_podcast_path(user, podcast) %>
    </button>
    <button type="button" class="btn btn-default">
      <%= link_to "Delete", user_podcast_path(user.id, podcast), method: :delete, remote: true %>
    </button>
  </p>
<% end %>
