<h1 align="left">All Podcasts</h1>
<%= render partial: 'podcasts/form', locals: {user: current_user} %></br>
<p align="left"><u>Sorted By Most Recent Update</u></p>
<%= render partial: 'podcasts/podcast', locals: {user: current_user} %>
