<h1 align="left">All Podcasts</h1>
<%= render partial: 'podcasts/form', locals: {user: current_user} %>
<p align="left"><u>Most Recently Updated</u></p>
<%= render partial: 'podcasts/podcast', locals: {user: current_user} %>
